# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environments
venv/
venv*/
env/
.venv/

# Data (всё скачанное/большое)
data/
datasets/

# Runs (веса, логи, картинки)
runs/

# Weights
*.pt
*.pth
*.onnx
*.7z
*.zip
*.tar.gz

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Env
.env
